<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!--<title>Blog Post - Start Bootstrap Template</title>-->

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/blog-post.css" rel="stylesheet">
    <link href="/layout/styles/court.css" rel="stylesheet" type="text/css">
    <link href="/layout/styles/detail.css" rel="stylesheet" type="text/css">


  </head>

  <body>
    <!-- Page Content -->
    <div class="container" style="margin-left:10rem; margin-right:10rem; padding:20px;" >
      <h1 class="couttitle" style="color:#FF245B"><%= @court.title %></h1><br>
      닉네임 : <%= @court.nickname %> &emsp; category : <%= @court.category %> &emsp; series : <%= @court.series %><hr>
      
      <!-- Date/Time -->
      <span id="clock" style="font-size: 1.5rem;"></span><span>남음</span>
      <hr>
      <script>
          $('#clock').countdown({until: <%= @court.end_date.to_i - Time.now.to_i %>,
             expiryText: '<div class="over">마감되었습니다.</div>'
            });
      </script>
      
      <!-- Content -->
      <div>
        <pre><%= @court.content %></pre>
      </div>
          
      <!-- Preview Image -->
      <div style="margin:flex">
        <% if ((@court.agree_num == 0) && (@court.disagree_num == 0))%>
          <article><a href="#"><img class="btmspace-30" src="/images/justice.png"></a>
        <% elsif @court.agree_num > @court.disagree_num %>
          <article><a href="#"><img class="btmspace-30" src="/images/agree.png"></a>
        <% elsif @court.agree_num < @court.disagree_num %>
          <article><a href="#"><img class="btmspace-30" src="/images/disagree.png"></a>
        <% else %>
          <article><a href="#"><img class="btmspace-30" src="/images/draw.png"></a>
        <%end%>
      </div><hr>
      
      <!-- 찬/반버튼 -->
      <div class="vote">
        <button>찬성</button>
        <button>반대</button>
      </div>
      
      <!-- Comments Form -->
      <div class="card my-4">
        <h5 class="card-header">Leave a Comment:</h5>
        <div class="card-body">
          <form class="c_form">
            <input class="form-control c_input"></input>
            <button type="submit" class="btn btn-primary c_submit">Submit</button>
          </form>
        </div>
      </div>
      <!-- 댓글 확인 -->
      <div class="opinion">
        <div class="media mb-4 opinion1">
          <div class="media-body">
            <h5 class="mt-0">Commenter Name</h5>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
          </div>
        </div>
        <div class="media mb-4 opinion2">
          <div class="media-body">
            <h5 class="mt-0">Commenter Name</h5>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
          </div>
        </div>
      </div>
      
    </div> <!-- content 끝 -->
 

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
