<!DOCTYPE html>
<!--
Template Name: Cirpark
Author: <a href="https://www.os-templates.com/">OS Templates</a>
Author URI: https://www.os-templates.com/
Licence: Free to use under our free template licence terms
Licence URI: https://www.os-templates.com/template-terms-->

<html>
 <head>
  <title>Court of Love</title>
    
    <!-- Custom fonts for this template -->
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>


    <!-- Custom styles for this template -->
    <link href="/layout/styles/index.css" rel="stylesheet">
    
 </head>
      <body id="top">
        <div class="wrapper bgded overlay" style="background-image:url('/images/basicbackground.png');">
        <div id="pageintro" class="hoc clear">
        <div class="flexslider basicslider">
        <ul class="slides">
            
            <!--home 사랑의 재판소 소개-->
            <li>
              <article class="group">
                <div class="one_half first">
                  <h2 class="heading">사랑의 재판소</h2>
                  <p>당신의 연애고민을 해결해 주는 재판소</p>
                  <p><a class="btn medium inverse" href="/home/court/">재판소가기 &raquo;</a></p>
                </div>
                <div class="one_half"><a href="#"><img src="/images/bascibackground/.png" alt=""></a></div>
              </article>
           </li>
            
      </ul>
        </div>
  
      </div>
    </div>
    

    </div>
   
    <div class="wrapper row3">
      <div class="hoc clear l_box">
        <div class="center btmspace-50">
          <h3 class="font-x2 nospace">
          <i class="fa fa-hotjar"></i><a style="color:#FF245B"><i class="fa fa-heart"></i> 핫한 게시글 <i class="fa fa-heart"></i></a></h3>
          <p class="nospace">연애상담고수님들 빨리 오세요. </p>
        </div>
        <div class="group">
        <% @courts.each_with_index do |c,i| %>
          <div class="s_box">
            <h1 class="an"><%= c.agree_num %></h1>
            <h1 class="dn"><%= c.disagree_num %></h1>
            <script>
              var a = document.getElementsByClassName("an");
              var d = document.getElementsByClassName("dn");
              var i = <%= i %>;
              
              if(<%= c.agree_num %> > <%= c.disagree_num %>){
                a[i].classList.add("awin");
                d[i].classList.add("dlose");
              }
              else if(<%= c.agree_num %> < <%= c.disagree_num %>){
                a[i].classList.add("alose");
                d[i].classList.add("dwin");
              }

            </script>
          <% if ((c.agree_num == 0) && (c.disagree_num == 0))%>
            <article><a href="#"><img class="btmspace-30" src="/images/justice.png"></a>
          <% elsif c.agree_num > c.disagree_num %>
            <article><a href="#"><img class="btmspace-30" src="/images/agree.png"></a>
          <% elsif c.agree_num < c.disagree_num %>
            <article><a href="#"><img class="btmspace-30" src="/images/disagree.png"></a>
          <% else %>
            <article><a href="#"><img class="btmspace-30" src="/images/draw.png"></a>
          <%end%>
              <ul class="nospace btmspace-10 group font-xs">
                <h4 class="nospace btmspace-10 font-x1 uppercase"><a style="color:#FF245B"><%=c.title%></a></h4>
                <li class="fl_right">by <%= c.nickname %></li>
              </ul>
              <hr>
              <p><i class="fa fa-tag"></i> <%=c.category %></p>
              <p><%=c.hashtag %></p>
              <p class="nospace"><a href="/home/detail/<%=c.id%>">Read More &raquo;</a></p>
            </article>
          </div>
        <%end%>

        </div>
      </div>
      <div>
        <!--<a href="/home/new"><button class="fun-btn court_b">등록하기</button></a>-->
      </div>
    </div>
    
    
    <div class="wrapper row5">
      <div id="copyright" class="hoc clear">
        <!-- ################################################################################################ -->
        <p class="fl_left">Copyright &copy; 2018 - All Rights Reserved - <a href="#">사랑의 재판소 ( 세아,지수,채연,태윤 )</a></p>
        <p class="fl_right"> <a target="_blank" href="https://www.os-templates.com/" title="Free Website Templates"></a></p>
        <!-- ################################################################################################ -->
      </div>
    </div>
   <a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
    <!-- JAVASCRIPTS -->
    <script src="layout/scripts/jquery.min.js"></script>
    <script src="layout/scripts/jquery.backtotop.js"></script>
    <script src="layout/scripts/jquery.mobilemenu.js"></script>
    <script src="layout/scripts/jquery.flexslider-min.js"></script>
    </body>
    </html>