<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  
  <%= csrf_meta_tags %>
  <!--템플릿 관련-->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link href="/layout/styles/layout.css" rel="stylesheet" type="text/css" media="all">
  
   <!--Custom styles for this template -->
  <link href="/layout/styles/index.css" rel="stylesheet">
  
  <!-- 합쳐지고 최소화된 최신 CSS -->
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">-->

<!-- 부가적인 테마 -->
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">-->

<!-- 합쳐지고 최소화된 최신 자바스크립트 -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  
  
  
  
</head>
<body>
 
  <!--nav바-->
  <div class="wrapper row1">
    <header id="header" class="hoc clear">
      <div id="logo" class="fl_left">
        <a href="/"><img src="/images/logo.png"></a>
        
      </div>
      <div id="quickinfo" class="fl_right">
        <ul class="nospace inline">
          <% if user_signed_in? %>
            <%= current_user.email %>님 환영
            <a><strong>MyPage</strong></a>
            <a href="/users/sign_in"><strong><i class="fa fa-user"></i> Logout</strong></a>
          <% else %>
            <a href="/users/sign_in"><strong><i class="fa fa-user"></i> Login</strong></a>
          <% end %>
         
        </ul>
      </div>
    </header>
  </div>
  
  <div class="wrapper row2">
    <nav id="mainav" class="hoc clear">
      <ul class="clear">
        <li><a href="/home/court" style="text-align:center">재판소</a></li>
        <li><a href="#" style="text-align:center">재판결과</a></li>
        <li><a href="#" style="text-align:center">재판후기</a></li>
        <li><a href="#" style="text-align:center">상담소</a></li>
      </ul>
    </nav>
  </div>

<%= yield %>
</body>
</html>
